

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

:root{
    --black-color: #1A1A1A;
    --white: white;
    --orange: #FF9142;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--white);
}


.sectionFour{
    padding: 50px 15%;
}


.sectionFour h3{
    font-family: 'Syne', sans-serif;
    padding: 10px;
    width: 15%;
    background-color: #323232;
}

.sectionFourDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
}


.sectionFourDiv h2{
    font-family: 'Syne', sans-serif;
}

.eachDiv{
    border: #323232 solid 1px;
    padding: 30px;
}

.eachDiv p{
    font-family: 'Syne', sans-serif;
    color: #959595;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .sectionFour{
        padding: 80px 8%;
        padding-bottom: 0;
    }
    
    .sectionFourDiv{
        grid-template-columns: 1fr;
    }

    .sectionFour h3{
        width: 50%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .sectionFour{
        padding: 80px 5%;
        padding-bottom: 0;
    }
}